<div id="<%= dom_id course_batch %>">
  <p>
    <strong>Name:</strong>
    <%= course_batch.name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= course_batch.course.name %>
  </p>
  <p>
    <strong>Max enrollment count:</strong>
    <%= course_batch.max_enrollment_count %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= course_batch.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= course_batch.end_date %>
  </p>

</div>
