<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Course batch:</strong>
    <%= enrollment.course_batch.name %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= enrollment.student.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= enrollment.status %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= enrollment.approver&.name %>
  </p>

</div>
